@media all and (max-width:870px) {
  .mobile-activation {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: fixed;
    top: 100px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #495057;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    border: 2px solid white;
    z-index: 3;
  }
  .mobile-menu-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  .menuBody {
      position: fixed;
      top: 100vh;
      overflow-y: auto;
      height: 100vh;
      left: 0px;
      width: 100%;
      z-index: 5;
      transition: all 0.3s ease-in-out;
  }
  .close.mobile-close {
    border: none;
    opacity: 1;
    color: white;
    text-shadow: none;
  }
  .buttons {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;

    .blocAddition {
      cursor: pointer;
    }

    .addNew {
      border-radius: 2px;
      padding: 15px;
      width: 200px;
      margin: 20px auto;
      .addIcone {
        padding: 0 5px 0 0;
      }
    }
    .addExplain {
      font-size: 10px;
      div:nth-child(2) {
        display: none;
      }
    }
  }
  .menuBody.active {
    top: 0;
    transition: all 0.3s ease-in-out;
  }
  .expand {
    display: none
  }
}

@media all and (min-width:870px) {
  .mobile-activation, .mobile-close, .mobile-menu-header {
    display: none !important;
  }

  .menuBody {
    display: flex;
  }

  .contentMenu {
    left: -256px;
    z-index: 4;
    &:hover {
      left: 0px;
    }
  }

  .validationMenu {
    right: -250px;
    z-index: 3;
    &:hover {
      right: 0;
    }
  }

  .contentMenu, .validationMenu {
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.1);
    .chevron-open {
      display: block;
    }
    .chevron-closed {
      display: none;
    }
    &:hover {
      .chevron-closed {
        display: block;
        width: 78px;
      }
      .chevron-open {
        display: none;
      }
      .menu {
       display: none;
      }
    }
    top: 0;
    background-color: #F7F7F7;
    height: 100vh;
    display: flex;
    transition: all 0.3s ease-in-out;

    .buttons {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-width: 262px;
      padding: 50px 10px 0px 10px;

      .blocAddition {
        cursor: pointer;
         margin: 30px 0;
      }

      .addNew {
        display: flex;
        align-items: center;
        border-radius: 2px;
        padding: 5px;
        .addIcone {
          padding: 0 5px 0 0;
        }
      }
      .addExplain {
        font-size: 10px;
        div:first-child {
          border-bottom: 1px solid #ccc;
        }
        div {
          padding: 5px;
        }
      }
    }

    .btn {
      width: 100%;
    }

    .expand.content {
      background: linear-gradient(to right, #F7F7F7, #fefefe);
    }

    .expand.validation {
      background: linear-gradient(to left, #F7F7F7, #fefefe);
    }

    .expand {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 105%;
      position: relative;
      top: -11px;

      div {
        font-weight: 100;
        right: 0;
        color: #495057;
        text-shadow: 0px 2px 0px rgba(0,0,0,0.15);
        }
        .menu {
          font-size: 30px;
          font-weight: 300;
          padding: 10px 5px 10px 10px;
          p {
            margin-bottom: 5px;
          }
        }
        .chevron-open, .chevron-closed {
          font-size: 50px;
          padding: 10px 5px 10px 5px;
        }
    }
  }

  .contentMenu.disable-hover {
    left: -256px;
    &:hover {
      left: -256px;
    }
  }
}

.mapInitialCenterOverlay, .photoInitialFileOverlay {
    z-index: 5;
    background: #fafafa;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media all and (max-width:870px) {
      padding: 50px;

      .locationInput .input-group-text {
        display: none
      }
    }

    @media all and (max-width:500px) {
      .custom-file-label {
        color: transparent;
      }
    }

    .mapOverlayTitle {
      font-size: 2em;
      margin-bottom: 10px;
      text-align: center;
    }
    .mapOverlaydescription {
      font-size: 1.2em;
      margin-bottom: 20px;
      color: #495057;
    }

    button.close {
      position: absolute;
      top: 76px;
      right: 35px;
      font-size: 2.5rem;
    }
    @media all and (max-width:870px) {
      button.close {
        top: 10px;
        right: 10px;
      }
    }
    .mapLocation {
      width: 100%;
    }
    .input-group {
      margin: 0 auto;
      width: 80%;
    }
  }

  .mapInitialCenterOverlay.active, .photoInitialFileOverlay.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }

  .progress {
    width: 80%;
  }
