.article-container {
  margin-top: 40px;
  padding-right: 30px !important;
  padding-left: 30px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .mainTitleSub {
    text-align: center;
    margin-top: -8px;
    font-size: 15px;
    color: #495057;
  }

  .sectionLabel {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    letter-spacing: 1px;
  }

  .articleContent div:nth-of-type(1) {
    margin-top: 0 !important;
  }

  .article-header {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
  }

  .photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .photo-title {
      margin: 0;
      bottom: -16px;
      position: absolute;
      font-size: 10px;
      color: grey;
    }
  }
  .textContent, .googleMap, .photo {
    margin: 40px auto;
  }

  .doubleContent {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px auto;
    .googleMap, .textContent, .photo {
      width: 50%;
      margin: 0;
    }
    .firstContent {
      margin-right: 5px;
    }
    .secondContent {
      margin-left: 5px;
    }
    .photo {
      height: auto;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
      .photoMobile {
        display: none;
      }
    }
  }

  @media all and (max-width:767px) {
    .doubleContent {
      display: flex;
      flex-direction: column;
      height: auto !important;
      position: relative;
      margin: 30px auto;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      .googleMap, .textContent, .photo {
        width: 100%;
        margin: 0;
      }
      .photo {
        background-image: none !important;
        .photoMobile {
          display: block;
          width: 100%;
        }
      }
      .firstContent {
        display: block;
      }
      .secondContent {
        display: none;
      }
    }
    .doubleContent.active {
      box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
      border-bottom: none;
      padding: 15px;
      .firstContent {
        display: none;
      }
      .secondContent {
        display: block;
      }
    }
  }
}

.doubleContent {
  .swapContent {
    position: absolute;
    background: #243B54;
    border-radius: 2px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0px 0px 0 1px rgba(0, 0, 0, 0.2), 0px 0px 0 1px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    padding: 4px;
    display: none;
    z-index: auto;
    right: calc(50% - 52px);
    bottom: -15px;
    p {
      margin: 0;
      font-size: 12px;
    }
    img {
      display: block;
      width: 14%;
    }
  }
  @media all and (max-width:767px) {
    .swapContent {
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
    }
  }
}
