.article-container {
  margin-top: 40px;
  padding-right: 30px !important;
  padding-left: 30px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .mainTitleSub {
    text-align: center;
    margin-top: -8px;
    font-size: 15px;
    color: #495057;
  }

  .sectionLabel {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    letter-spacing: 1px;
  }

  .articleContent div:nth-of-type(1) {
    margin-top: 0 !important;
  }

  .article-header {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
  }

  .photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .photo-title {
      margin: 0;
      bottom: -16px;
      position: absolute;
      font-size: 10px;
      color: grey;
    }
  }
  .textContent, .googleMap, .photo {
    margin: 40px auto;
  }

  .doubleContent {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px auto;
    .googleMap, .textContent, .photo {
      width: 50%;
      margin: 0;
    }
    .firstContent {
      margin-right: 5px;
    }
    .secondContent {
      margin-left: 5px;
    }
    .photo {
      height: auto;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
      .photoMobile {
        display: none;
      }
    }
  }

  @media all and (max-width:767px) {
    .doubleContent {
      display: flex;
      flex-direction: column;
      height: auto !important;
      position: relative;
      margin: 30px auto;
      .googleMap, .textContent, .photo {
        width: 100%;
        margin: 0;
      }
      .photo {
        background-image: none !important;
        .photoMobile {
          display: block;
          width: 100%;
        }
      }
      .firstContent {
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }
      .secondContent {
        display: none;
      }
    }
    .doubleContent.active {
      .firstContent {
        display: none;
      }
      .secondContent {
        display: block;
      }
    }
  }
}
