.articles-container {
  margin-top: 20px;
}

.listRow.hide {
  display: none;
}

.article-card {
  margin-bottom: 20px;

  .card-header {
    min-height: 75px;
    display: flex;
    justify-content: center;
    p {
      width: 100%;
      flex: 1 0 auto;
      margin: auto 0;
    }
  }
  .card-header.incomplete {
    background: #ebb565;
  }

  .card {
      box-shadow: none;
      transition: all 0.15s ease-in-out;
    &:hover {
      box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
      transition: all 0.15s ease-in-out;
    }
  }

  .card-body p {
    min-height: 72px;
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}
