.doubleContentInput {
  .photoContainer {
    border: none;
  }
}

.photoContainer {
  @media all and (min-width:769px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  position: relative;
  border-radius: 2px;
  padding: 25px;
  @media all and (max-width:870px) {
    padding: 0px;
  }
  border: 1px solid #ccc;

  img {
    max-width: 100%;
  }

  .ReactCrop__image {
    max-height: unset !important;
  }

  .ReactCrop {
    display: block;
    margin: 0 auto;
  }

  .ReactCrop.cropped {
    .ReactCrop__crop-selection {
      display: none;
    }
  }
}

.double-content-elements .photoContainer {
  padding: 0px;
  flex-direction: column;
  height: 100%;
  .mixedPhoto {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
}

.photoCustomization {
  overflow: hidden;
  @media all and (min-width:769px) {
    overflow-y: scroll;
    position: absolute;
    opacity: 0;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 21%;
  }
  @media all and (max-width:768px) {
    height: 0;
  }
  cursor: default;
  transition: all 0.3s ease-in-out;
  .overflowContainer {
    padding: 15px;
    background: linear-gradient(to right, #fefefe, #F7F7F7);
    box-shadow: -2px 0px 5px -1px rgba(0,0,0,0.2);
    width: 100%;
    min-height: 100%;
    font-size: 15px;
    @media all and (min-width:769px) {
      position: absolute;
      border: 1px solid #ccc;
      left: -100%;
    }
    @media all and (max-width:768px) {

    }
    transition: all 0.3s ease-in-out;
  }
  .photoCustomizationBlock, h3, button {
    display: block;
  }
  button.close {
    @media all and (min-width:769px) {
      position: absolute;
    }
    top: 6px;
    right: 10px;
    font-size: 1.5rem;
  }
  button.btn {
    border-radius: 2px;
    margin: 10px auto;
    width: 100%;
    font-size: 15px;
  }
  button[disabled], input[disabled] {
    cursor: not-allowed;
  }
  h3 {
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 300;
    color: #495057;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15)
  }
  input.titleInput {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 5px;
  }
}

.photoCustomization.active {
  opacity: 1;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  height: 100%;
  .overflowContainer {
    width: 100%;
    @media all and (min-width:769px) {
      left: 0;
    }
    @media all and (max-width:768px) {
      border-bottom: 1px solid #ccc;
    }
    transition: all 0.3s ease-in-out;
  }
}
.photoCustomization {

  &.active.allow-crop {
    // @media all and (max-width:870px) {
     background: transparent;
    // }
  }

  &.active.allow-crop > .overflowContainer {
    // @media all and (max-width:870px) {
      background: transparent;
    // }
  }
  &.active.allow-crop > .overflowContainer > * {
    // @media all and (max-width:870px) {
      opacity: 0.4;
    // }
  }
  &.active.allow-crop > .overflowContainer > .crop-button.crop {
    // @media all and (max-width:870px) {
     opacity: 1;
    // }
  }
}

.photoCustomizationBlock {
    margin: 30px 0 !important;
}

.photoCustomization {
  .distanceDisplayRadios {
    p {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}

.processingOverlay {
  position: absolute;
  opacity: 0;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  .spinner-border {
    margin-right: 10px;
  }
}

.processingOverlay.processing {
  z-index: 1;
  opacity: 0.7;
  background: #343a40;
  transition: all 0.3s ease-in-out;
}

.crop {
  background: #FFF;
  color: #343a40;
  transition: all 0.3s ease-in-out;
  animation: crop 1.3s ease-in-out infinite alternate;
}

@keyframes crop {
  from {
    background: #343a40;
    color: #FFF;
  }

  to {
    background: #FFF;
    color: #343a40;
  }
}
