.article-container-form {
  .double-content-elements {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    .photoInput, .mapInput, .textContentInput {
      margin: 0;
      width: 50%;
    }
    .photoInput {
      .mixedPhotoMobile {
        display: none;
      }
    }
    .mapInput {
      .mapBloc {
        height: 100%;
        display: flex;
        flex-direction: column;
        .googleMap {
          height: auto;
          flex: 1 0 auto;
        }
      }
    }
    .textContentInput {
      display: flex;
      flex-direction: column;
      .quill {
        height: 100%;
        display: flex;
        flex-direction: column;
        .ql-toolbar.ql-snow {
          height: auto;
        }
        .ql-container.ql-snow {
          height: auto;
          flex: 1 0 auto;
        }
      }
    }
  }
  .double-content-elements > div:nth-of-type(2) {
    border-right: 1px solid #ccc;
  }

  @media all and (max-width:500px) {
    .elementResize {
      display: none;
    }
    .double-content-elements {
      display: block;
      height: auto !important;
      .photoInput, .mapInput, .textContentInput {
          width: 100%;
      }
      .photoInput {
        background-image: none !important;
        .mixedPhotoMobile {
         display: block;
        }
      }
    }
  }
}
