.articleList-audienceSelection {
  align-items: center;

  label {
    background: linear-gradient(to right, #fefefe, #F7F7F7);
    color: #495057;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    position: relative;
  }
}
