.contentMenu {
  text-align: center;
  padding: 10px 0px;
  position: fixed;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.1);
  left: -256px;
  .chevron-open {
    display: block;
  }
  .chevron-closed {
    display: none;
  }
  &:hover {
    left: 0px;
    .chevron-closed {
      display: block;
      width: 78px;
    }
    .chevron-open {
      display: none;
    }
    .menu {
     display: none;
    }
  }
  top: 0;
  z-index: 2;
  background-color: #F7F7F7;
  height: 100vh;
  display: flex;
  transition: all 0.3s ease-in-out;

  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 10px 0px 10px;

    .blocAddition {
      cursor: pointer;
    }

    .addNew {
      display: flex;
      align-items: center;
      border-radius: 2px;
      padding: 5px;
      .addIcone {
        padding: 0 5px 0 0;
      }
    }
    .addExplain {
      font-size: 10px;
      div:first-child {
        border-bottom: 1px solid #ccc;
      }
      div {
        padding: 5px;
      }
    }
  }

  .btn {
    width: 100%;
  }

  .expand {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #F7F7F7, #fefefe);
    cursor: pointer;
    height: 105%;
    position: relative;
    top: -11px;

    div {
      font-weight: 100;
      right: 0;
      color: #495057;
      text-shadow: 0px 2px 0px rgba(0,0,0,0.15);
      }
      .menu {
        font-size: 30px;
        font-weight: 300;
        padding: 10px 5px 10px 10px;
        p {
          margin-bottom: 5px;
        }
      }
      .chevron-open, .chevron-closed {
        font-size: 50px;
        padding: 10px 5px 10px 5px;
      }
  }
}

.contentMenu.disable-hover {
  left: -256px;
  &:hover {
    left: -256px;
  }
}

.mapInitialCenterOverlay, .photoInitialFileOverlay {
  background: #fafafa;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mapOverlayTitle {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .mapOverlaydescription {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #495057;
  }

  button.close {
    position: absolute;
    top: 76px;
    right: 35px;
    font-size: 2.5rem;
  }
  .mapLocation {
    width: 100%;
  }
  .input-group {
    margin: 0 auto;
    width: 80%;
  }
}

.mapInitialCenterOverlay.active, .photoInitialFileOverlay.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.progress {
  width: 80%;
}
