.contentMenu {
  text-align: center;
  padding: 10px 0px 10px 10px;
  position: fixed;
  border: 1px solid rgba(0,0,0,.05);
  left: -168px;
  top: 0;
  z-index: 1;
  background-color: #F7F7F7;
  height: 100vh;
  width: 235px;
  display: flex;
  transition: all 0.3s ease-in-out;

  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  .expand {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #F7F7F7, #fefefe);
    cursor: pointer;
    height: 105%;
    position: relative;
    top: -11px;

    span {
      padding: 10px;
      font-size: 80px;
      font-weight: 100;
      right: 0;
      color: #fff;
      text-shadow: 1px 0px 2px #ccc;
      }
  }
}

.contentMenu.expanded {
  left: 0;
  transition: all 0.3s ease-in-out;
}

.mapInitialCenterOverlay {
  background: #fff;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mapOverlayTitle {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .mapOverlaydescription {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #495057;
  }

  button {
    position: absolute;
    top: 76px;
    right: 35px;
    font-size: 2.5rem;
  }

  .input-group {
    width: 80%;
  }
}

.mapInitialCenterOverlay.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
